main {
  max-width: 1200px;
  margin: 40px auto;
  text-align: center;
  padding: 0 20px;
}

main h1 {
  font-size: 42px;
  margin-bottom: 16px;
  color: var(--color-secundario); /* título principal en lila suave */
  letter-spacing: 2px;
}

main p {
  font-size: 18px;
  color: var(--color-texto);
  line-height: 1.7;
}

.hero-wrapper {
  max-width: 1100px;
  margin: 2rem auto;
  border-radius: 24px; /* Bordes redondos */
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05); 
  background-color: var(--color-primario); /* Fondo rosita */
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}

a:hover {
  color: var(--color-secundario);
}

@media (max-width: 768px) {
  main {
    margin: 20px auto;
    padding: 0 15px;
    max-width: 100%;
  }

  .hero-wrapper {
  max-width: 1100px;
  margin: 2rem auto;
  border-radius: 24px;
  overflow: hidden;
  background-color: transparent; 
  box-shadow: none; 
  }
}
